@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  height: 100%;
  width: 100%;
}


.a {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-family: "Montserrat";
  color: none;
  z-index: 1;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.projects{
  color:white;
  font-family: "Montserrat";
  text-transform: uppercase;

}
.container {
  position: relative;
  background-color:#000323;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hover {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75), inset 0px 0px 19px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
/* using meyers reset */

/* Box-Sizing */

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.deepshadow {
  color: white;
  background-color: none;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
  .deepshadow {
      background-color:none ;
     
    }

    .deepshadow:hover {
      animation: shake 150ms 2 linear;
      -moz-animation: shake 150ms 2 linear;
      -webkit-animation: shake 150ms 2 linear;
      -o-animation: shake 150ms 2 linear;
    }

    @keyframes deepshadow {
      0% {
        transform: translate(3px, 0);
      }
      50% {
        transform: translate(-3px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @-moz-keyframes deepshadow {
      0% {
        -moz-transform: translate(3px, 0);
      }
      50% {
        -moz-transform: translate(-3px, 0);
      }
      100% {
        -moz-transform: translate(0, 0);
      }
    }

    @-webkit-keyframes deepshadow {
      0% {
        -webkit-transform: translate(3px, 0);
      }
      50% {
        -webkit-transform: translate(-3px, 0);
      }
      100% {
        -webkit-transform: translate(0, 0);
      }
    }

    @-ms-keyframes deepshadow {
      0% {
        -ms-transform: translate(3px, 0);
      }
      50% {
        -ms-transform: translate(-3px, 0);
      }
      100% {
        -ms-transform: translate(0, 0);
      }
    }

    @-o-keyframes deepshadow {
      0% {
        -o-transform: translate(3px, 0);
      }
      50% {
        -o-transform: translate(-3px, 0);
      }
      100% {
        -o-transform: translate(0, 0);
      }
    }
    .thumbnail1 {
    width: 150px;
    height: 150px;
    margin: 50px;
    top:20%;
    float: right;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail1 a {
  text-decoration:none;
}
.thumbnail1 .caption1, .thumbnail1 .content1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50;
    left: 50;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail1:hover .caption1 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail1 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail1 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:0px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail1:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail1 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 6px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail1:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}
.thumbnail2 {
    width: 150px;
    height: 150px;
    margin: 50px;
    top:10%;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail2 a {
  text-decoration:none;
}
.thumbnail2 .caption2, .thumbnail2 .content2 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50;
    left: 50;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail2:hover .caption2 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail2 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail2 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1.2em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:1px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail2:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail2 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 6px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail2:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}

 
 .thumbnail3 {
    width: 150px;
    height: 150px;
    margin: 50px;
    top:10%;
    float: right;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail3 a {
  text-decoration:none;
}
.thumbnail3 .caption3, .thumbnail3 .content3 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail3:hover .caption3 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail3 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail3 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1.2em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:1px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail3:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail3 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail3:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}
 .thumbnail4 {
    width: 220px;
    height: 220px;
    margin: 50px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail4 a {
  text-decoration:none;
}
.thumbnail4 .caption4, .thumbnail4 .content4 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50;
    left: 50;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail4:hover .caption4 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail4 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail4 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1.2em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:1px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail4:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail4 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail4:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}
 

 .thumbnail5 {
    width: 150px;
    height: 150px;
    margin: 50px;
    top:10%;
    float: right;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail5 a {
  text-decoration:none;
}
.thumbnail5 .caption5, .thumbnail5 .content5 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail5:hover .caption5 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail5 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail6 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1.2em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:1px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail6:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail6 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail6:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}

 
 .thumbnail6 {
    width: 150px;
    height: 150px;
    margin: 50px;
    top:10%;
    float: right;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 0px #000;
}
.thumbnail6 a {
  text-decoration:none;
}
.thumbnail6 .caption6, .thumbnail6 .content6 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail6:hover .caption6 {
    opacity:1; 
    transition-delay: 0s;
}
.thumbnail6 img {
    display: block;
    position: absolute;
    top:80%;
    bottom:20%;


    -webkit-transition: all 0.2s linear;
}
.thumbnail6 h5 {
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 1.2em;
    padding-bottom:0px;
    margin:7%;
    opacity:0;
    border-bottom:1px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail6:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;
}
.thumbnail6 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0 0%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail6:hover p {
    opacity:0;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}