@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  height: 100%;
  width: 100%;
}


.a {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-family: "Montserrat";
  color: none;
  z-index: 1;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.projects{
  color:white;
  font-family: "Montserrat";
  text-transform: uppercase;

}
.container {
  position: relative;
  background-color:#000323;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hover {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75), inset 0px 0px 19px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
/* using meyers reset */

/* Box-Sizing */

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.deepshadow {

  color: white;
  background-color: none;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
  .deepshadow {
      background-color:none ;
     
    }

    .deepshadow:hover {
      */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  
    }

    @keyframes deepshadow {
      0% {
        transform: translate(3px, 0);
      }
      50% {
        transform: translate(-3px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @-moz-keyframes deepshadow {
      0% {
        -moz-transform: translate(3px, 0);
      }
      50% {
        -moz-transform: translate(-3px, 0);
      }
      100% {
        -moz-transform: translate(0, 0);
      }
    }

    @-webkit-keyframes deepshadow {
      0% {
        -webkit-transform: translate(3px, 0);
      }
      50% {
        -webkit-transform: translate(-3px, 0);
      }
      100% {
        -webkit-transform: translate(0, 0);
      }
    }

    @-ms-keyframes deepshadow {
      0% {
        -ms-transform: translate(3px, 0);
      }
      50% {
        -ms-transform: translate(-3px, 0);
      }
      100% {
        -ms-transform: translate(0, 0);
      }
    }

    @-o-keyframes deepshadow {
      0% {
        -o-transform: translate(3px, 0);
      }
      50% {
        -o-transform: translate(-3px, 0);
      }
      100% {
        -o-transform: translate(0, 0);
      }
    }
  .thumbnail {
    width: 190px;
    height: 190px;
    margin: 40px;
    float:left;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 2px #000;
    -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 50px;
}


.thumbnail a {
  text-decoration:none;
}
.thumbnail .caption, .thumbnail .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail:hover .caption {
    opacity:1; 
    
}
.thumbnail :hover{
  -webkit-transform: scale(-1);
          transform: scale(-1);
  transition-delay: 0s;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.thumbnail img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s linear;
}
.thumbnail h5 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 1.2em;
    padding-bottom:10px;
    margin:7%;
    opacity:0;
    border-bottom:0px solid white;
    -webkit-transition: all 0.4s ease-in 0.2s;
}
.thumbnail:hover h5 {  
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  opacity:1;

}
.thumbnail p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0 7%;
    opacity:0;
    -webkit-transition: all 0.8s ease-in 0.2s;
}
.thumbnail:hover p {
    opacity:1;
    -webkit-transition-delay: 0.5s ease-in 0.2s;
}

.thumbnail:hover{
  transition-delay: 0s;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .thumbnail1 {
    width: 200px;
    height: 200px;
    margin: 10px;
    float:left;
  
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 2px #000;
    -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 50px;
}


.thumbnail1 a {
  text-decoration:none;
}
.thumbnail1 .caption1 .thumbnail1 .content1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail1:hover .caption1 {
    opacity:1; 
    
}
.thumbnail1 :hover{
  transition-delay: 0s;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}



  .thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px;
    float:left;
  
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 2px #000;
    -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 50px;
}


.thumbnail a {
  text-decoration:none;
}
.thumbnail .caption .thumbnail .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail:hover .caption {
    opacity:1; 
    
}
.thumbnail :hover{
  transition-delay: 0s;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

