 #box1 {
        width: 200px;
        height: 200px;
        background-color: black;
        position: relative;
        left: 20%;
        top: 30%;
        bottom:300%
        div {
  z-index: 1; /* integer */
} 
        -ms-transform: rotate(12deg); /* IE 9 */
        -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(50deg);
    }  
   #box2 {
        width: 600px;
        height: 600px;
        background-color: #1d1d1e;
        position: absolute;
        left: 25%;
        top: 25%;
        bottom:20%
        -ms-transform: rotate(6deg); /* IE 9 */
        -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
        transform: rotate(25deg);
    }    

