 #box2 {
        width: 20px;
        height: 20px;
        background-color:#1d1d1e; 
        position: absolute;
        left: 60%;
        top: 70%;
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
        transform: rotate(-20deg);
    }

#box3 {
        width: 50px;
        height: 50px;
        background-color: #2d2d30;
        position: static;
        top: 100px;
        -ms-transform: rotate(8deg); /* IE 9 */
        -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
        transform: rotate(8deg);
    } 

#box4 {
        width: 80px;
        height: 80px;
        background-color:#434347;
        position: relative;
        top: 100px;
        -ms-transform: rotate(-50deg); /* IE 9 */
        -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
        transform: rotate(-50deg);
    } 
    
