body {
  height: 100vh; 
  padding: 0.5em 1em;
  background: #222;
}
svg {
  display: block; 
  width: 100%;
}
h1{
        font-family:helvetica;
        font-size:50px;
        text-align:center;
        outline:thin;
}
h2{
        font-family:helvetica;
        font-weight:bold;
        font-size:100px;
        text-align:center;

}
p{
        font-size:30px;
        font-family:helvetica;

        letter-spacing:10px;
        width:50px;
        text-align:center;
        display: inline;

        
}

div{
	width:1px;
	height:2px;
	position:relative;
	font-size:50px;

}
