 #box1 {
        width: 5px;
        height: 5px;
        background-color:clear; 
        position: absolute;
        left: 90px;
        top: 40px%;
  
    }
 #box2 {
        width: 10px;
        height: 10px;
        background-color:clear; 
        position: absolute;
        left: 1000px;
        top: 2000px%;
      
    }

#box3 {
        width: 50px;
        height: 50px;
        background-color:clear;
        position: static;
        top: 900px;
   
    } 

#box4 {
        width: 15px;
        height: 15px;
        background-color:clear;
        position: relative;
        top: 100px;
        left:800px;
     
    } 
    #box5 {
        width: 10px;
        height: 10px;
        background-color:#434347;
        position: relative;
        top: 600px;
        left:1000px;
  
    } 
